.team-member-container {
    padding: 10px;
    margin: 20px;
    margin-bottom: 50px;
}

.team-member-img {
    height: 13rem;
    width: 13rem;
    border-radius: 130px;
}

.team-member-h5 {
    font-size: 20px;
    line-height: 22px;
}

.team-member-h4 {
    font-size: 30px;
    line-height: 32px;
}

.team-member-p {
    font-size: 16px;
}