.about-page-container {
    background: white;
    color: black;
    margin: 3.5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 4%;
    border-radius: 20px;
    padding-top: 1%;
}

.team-div {
    margin: auto;
    width: auto;
    height: auto;
}

.aboutus-container {
    margin-top: 0;   
}

.aboutus-h1 {
    font-size: 45px;
}

.team {
    height: 60%;
    width: 70%;
}

.division-div {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.aboutus-p {
    font-size: 20px;
}

@media (max-width: 950px) {
    .division-div {
        flex-direction: column;
    }
}