.division-container {
    margin: 2%;
    /*background: rgb(83, 90, 92);*/
    display: flex;
    color: black;
    border: 1px solid black;
    flex-direction: column;
    /* padding: 1%;
    padding-bottom: 0%; */

background-color: #E6E7EE;
  border: 1px solid #d1d9e6;
  border-radius: 5px;
  /* font-size: 16px; */
  padding: 10px 20px;
}

.division-p {
    text-align: justify;
}

.division-h3 {
    height: 5%;
    padding-bottom: 5%;
}

.division-img {
    height: 100%;
    width: 100%;
}

.neumorphic-shadows {
    -webkit-box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
          box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
  }

@media (max-width: 950px) {
    .division-container {
        padding: 5%;
    }

    .division-img {
        padding: 5%;
    }
}