.container {
    margin: 0 auto !important;
    height: 86vh !important;
    max-width: 800px;
    padding: 0px !important;
}

@media (max-width: 768px) {
    .container {
        max-width: 760px;
    }
}