.project-img {
    height: 12rem;
    width: 12rem;
    border-radius: 100px;
    margin: auto;
}

.project-container {
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin: 1%;
}

.projectitem-h3 {
    text-align: center;
}

.project-btn {
    margin: auto;
    width: 30px;
}