.project-page-container {
    padding: 2%;
    margin: 3%;
    background-color: white;
    border-radius: 20px;
}

.project-h1 {
    text-align: center;
    padding: 2%;
}

.project-p {
    text-align: justify;
    padding-left: 1rem;
    padding-right: 1rem;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2%;
    justify-content: space-around;
}

.map-container {
    display: flex;
    flex-direction: column;
}

.img-project {
    width: 70%;
    height: 50%;
    margin-bottom: 7%;
    border-radius: 17px;
}

.contribution-p {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 9rem;
    margin-right: 9rem;
}

.by-p {
    margin-top: 0%;
    margin: 4%;
    font-size: 15px;
}

.contribution {
    display: flex;
    flex-direction: column;
    margin-left: -7rem;
    margin-right: -7rem;
    width: 100%;
}

.project-h4 {
    text-align: center;
    margin-top: 4%;
    margin-bottom: 0%;
}

@media (max-width: 600px){
    .contribution-p {
        margin-left: 5rem;
        margin-right: 5rem;
    }
}